#contact {
  padding: 0 25px;
  margin-bottom: 115px;
}
#contact .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 75px;
}
#contact .title h1 {
  font-weight: 300;
}
#contact p {
  text-align: center;
}
#contact span {
  color: #d1c6ff;
}
.coordonnees {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.coordonnees .email {
  text-decoration: none;
}
.coordonnees .linkedin {
  text-decoration: none;
}
.coordonnees a:hover {
  text-decoration: 1px underline white;
  text-underline-offset: 2px;
  font-weight: 600;
}

@media (max-width: 1279px) {
  #contact .title {
    margin-bottom: 40px;
  }
}

@media (min-width: 600px) {
  #contact {
    padding: 0 30px;
  }
  .coordonnees br {
    display: none;
  }
}

@media (min-width: 905px) {
  #contact {
    padding: 0 50px;
  }
}

@media (min-width: 1280px) {
  #contact {
    padding: 0 75px;
  }
}

@media (min-width: 1440px) {
  #contact {
    padding: 0 100px;
  }
}
