footer {
  overflow: hidden;
  border-top: 2px solid white;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 50px 0 100px;
}
footer ul {
  list-style-type: none;
}
footer li {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer li a {
  text-decoration: none;
}
footer li a:hover {
  color: #D1C6FF;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.icon-footer {
  font-size: 40px;
}
footer .copyright {
  position: absolute;
  bottom: 30px;
  text-decoration: none;
}
.logo {
  display: none;
}

@media screen and (min-width: 905px) {
  .logo {
    display: block;
    position: absolute;
    width: 80px;
    border-radius: 50%;
    left: 30px;
  }
  footer .copyright {
    right: 30px;
  }
  footer {
    padding: 75px 0 75px;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    padding: 100px 0 100px;
  }
  footer li {
    font-size: 18px;
  }
  .icon-footer {
    font-size: 50px;
  }
  footer .copyright {
    font-size: 18px;
  }
  .logo {
    width: 100px;
    transform: translateY(-50%);
    top: 50%;
  }
}

@media screen and (min-width: 1440px) {
  footer .copyright {
    right: 50px;
  }
  .logo {
    left: 50px;
  }
}