#header {
  padding: 130px 25px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header .blur {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 10%,
    rgba(135, 79, 255, 0.3) 40%
  );
  filter: blur(30vw);
  height: 500px;
  width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#header h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
#header h2 {
  text-align: center;
  font-weight: 600;
  color: #d1c6ff;
  margin-bottom: 10px;
}
#header span {
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 80px;
  color: #a39eb8;
  font-size: 14px;
}
#header h2 br {
  display: none;
}
.container-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 40px;
  width: 90%;
}
.hover-img img {
  width: 150px;
}
.img-project {
  border-radius: 30%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.img-box {
  position: relative;
  width: fit-content;
  height: 250px;
  width: 90%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.img-box:hover .hover-img {
  opacity: 1;
  cursor: pointer;
}
.hover-img {
  opacity: 0;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 250px;
  width: 250px;
  transition: 0.7s;
  border-radius: 30%;
}
#header a {
  font-size: 32px;
}

@media (max-width: 599px) {
  #header {
    overflow: hidden;
  }
}

@media (min-width: 600px) {
  #header {
    padding: 130px 30px 0;
  }
  #header .blur {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #fff 10%,
      rgba(135, 79, 255, 0.4) 30%
    );
    filter: blur(15vw);
    top: 40%;
  }
  #header span {
    font-size: 2.5vw;
  }
  .container-projects {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  #header h1 {
    font-size: 28px;
  }
  #header h1 br {
    display: none;
  }
  #header h2 {
    max-width: 80%;
  }
  .img-box {
    height: 23vw;
  }
  .img-project {
    border-radius: 30%;
    width: 23vw;
    height: 23vw;
  }
  .hover-img {
    height: 23vw;
    width: 23vw;
  }
  .hover-img img {
    width: 14vw;
  }
}

@media (min-width: 905px) {
  #header {
    padding: 130px 50px 0;
  }
  #header .blur {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #fff 10%,
      rgba(135, 79, 255, 0.5) 30%
    );
    filter: blur(10vw);
    top: 50%;
  }
  #header h1 {
    font-size: 32px;
    margin-bottom: 35px;
  }
  #header h2 {
    font-size: 32px;
  }
  #header span {
    margin-bottom: 120px;
    font-size: 24px;
  }
  #header h2 br {
    display: block;
  }
  .container-projects {
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
  }
  .hover-img {
    height: 21vw;
    width: 21vw;
  }
  .img-box {
    height: 21vw;
    width: 21vw;
  }
  .img-project {
    width: 21vw;
    height: 21vw;
  }
  .hover-img img {
    width: 12vw;
  }
}

@media (min-width: 1280px) {
  #header {
    padding: 130px 75px 0;
  }
  #header .blur {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #fff 10%,
      rgba(135, 79, 255, 0.7) 30%
    );
    filter: blur(12vw);
    top: 50%;
  }
  .hover-img {
    height: 250px;
    width: 250px;
  }
  .img-box {
    height: 250px;
    width: 250px;
  }
  .img-project {
    width: 250px;
    height: 250px;
  }
  .hover-img img {
    width: 150px;
  }
  .container-projects {
    gap: 70px;
  }
}

@media (min-width: 1440px) {
  #header {
    padding: 130px 100px 0;
  }
  #header .blur {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #fff 10%,
      rgba(135, 79, 255, 1) 30%
    );
    filter: blur(15vw);
    top: 50%;
  }
  .hover-img {
    height: 275px;
    width: 275px;
  }
  .img-box {
    height: 275px;
    width: 275px;
  }
  .img-project {
    width: 275px;
    height: 275px;
  }
  .hover-img img {
    width: 150px;
  }
  .container-projects {
    gap: 70px;
  }
}

@media (min-width: 1880px) {
  #header .blur {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #fff 10%,
      rgba(135, 79, 255, 1) 50%
    );
    width: 700px;
    filter: blur(15vw);
    top: 50%;
  }
}
