#portfolio {
  margin: 115px 0;
  overflow: hidden;
  position: relative;
}
#portfolio .title {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
#portfolio .title h1 {
  font-weight: 300;
}

.container-portfolio {
  display: grid;
  gap: 70px;
}

#portfolio .blur-1 {
  top: 25%;
  left: 100%;
  z-index: 0;
}

#portfolio .blur-2 {
  bottom: -10%;
  left: 0;
  z-index: 0;
}

@media screen and (min-width: 600px) {
  #portfolio {
    padding: 0 30px;
  }
  .container-portfolio {
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 12vw;
  }
}

@media screen and (min-width: 905px) {
  #portfolio {
    padding: 0 50px;
  }
  .container-portfolio {
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 50px;
  }
}

@media screen and (min-width: 1280px) {
  #portfolio {
    padding: 0 75px;
  }
  #portfolio .title {
    margin-bottom: 100px;
  }
  .container-portfolio {
    grid-template-columns: repeat(4, 1fr);
    gap: 70px 70px;
  }
}

@media screen and (min-width: 1440px) {
  #portfolio {
    padding: 0 100px;
  }
  #portfolio .title {
    margin-bottom: 150px;
  }
}
