.img-box-project {
    width: 250px;
    border-radius: 15px;
}

.technos-img-box-project {
    display: none;
}

.container-project-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.desc-img-box-project {
    display: none;
}

.content-box-project {
    font-size: 20px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-box-project span {
    text-transform: uppercase;
    color: #d1c6ff;
}

@media screen and (min-width: 600px) {
    .img-box-project {
        width: 100%;
    }
    .content-box-project {
        max-width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .content-box-project {
        max-width: 90%;
    }
    .mobile-desc-box-project, .mobile-technos-box-project {
        display: none;
    }
    .container-img-box-project {
        position: relative;
        overflow: hidden;
    }
    .container-img-box-project:hover .hover-img-box-project {
        top: 50%;
        transition: .3s;
    }
    .hover-img-box-project {
        position: absolute;
        transform: translate(-50%, -50%);
        top: -50%;
        left: 50%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: rgb(0, 0, 0, .5);
        padding: 20px 10px 23px;
        border-radius: 15px;
    }
    .technos-img-box-project {
        display: block;
    }
    .desc-img-box-project {
        display: block;
        color: white;
        font-size: 18px;
    }
    .technos-img-box-project {
        display: flex;
        gap: 10px;
    }
    .technos-img-box-project img {
        width: auto;
        height: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .hover-img-box-project {
        padding: 20px 15px 23px;
    }
    .desc-img-box-project {
        font-size: 20px;
    }
}

@media screen and (min-width: 1680px) {
    .img-box-project {
        width: 300px;
    }
}
